.flowtime

  = partial 'sections/intro'

  = partial 'sections/ruby_basics'
  = partial 'sections/ruby_types'
  = partial 'sections/ruby_objects'
  = partial 'sections/ruby_modules'
  = partial 'sections/ruby_metaprog'

  = partial 'sections/rails_intro'





